<app-navbar [state]="state"></app-navbar>
<div class="cont">
  <h1>Sector Details</h1>
<div class="container">
  <div class="mt-5 row container outer-div">
    <div class="dropdown col-xs-12 col-sm-6 col-xl-5 btn-div">
      <button class="btn btn-outline-dark dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{dropDownTitle}}
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item" *ngFor="let s of sectors" (click)="onSectorClick(s)">{{s.name}}</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-xl-3 btn-div">
      <button class="btn btn-danger" (click)="onLoadComapnies()">Show Companies</button>
    </div>
  </div>
  <div class="container" *ngIf="this.companies.length">
    <ul class="list-group">
      <li class="list-group-item p-3 d-flex flex-row">
        <h5 class="col-3"><b>Name</b></h5>
        <h5 class="col-3"><b>CEO</b></h5>
        <h5 class="col-3"><b>Turnover</b></h5>
        <h5 class="col-3"><b>Brief</b></h5>
      </li>
      <li class="list-group-item p-3 d-flex flex-row" *ngFor="let c of companies">
        <p class="col">{{c.name}}</p>
        <p class="col">{{c.ceo}}</p>
        <p class="col">{{c.turnover | currency}}</p>
        <p class="col">{{c.brief}}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="this.companies.length == 0" class="d-flex flex-column align-items-center noshow">
    <h3 class="mt-5">NO Results Found</h3>
  </div>
</div>
</div>
